<div class="box mb-10 pt-5">
  <div class="row">
    {{#if (and editing (gt condictions.length 1))}}
      <div class="pull-right">
        {{#if (lte condictions.length 1 )}}
          <button class="btn btn-disabled-transparent text-small vertical-middle" disabled="true">
            {{t 'formIngress.removeRuleLabel'}}
          </button>
        {{else}}
          <button class="btn bg-transparent text-small vertical-middle" {{action "removeRule" condiction}}>
            Remove this Condiction
          </button>
        {{/if}}
      </div>
    {{else}}
      <!-- 28px is the height of the button, no jumpy -->
      <div style="height: 28px;"></div>
    {{/if}}
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label" style="margin-top: 60px;">Expression</label>
      {{input value=expression
              placeholder="Expression"
      }}
    </div>
    <div class="col span-6">
      {{echart-chart }}
    </div>
  </div>
  <hr/>
  <section class="row">
    <div class="col span-1 text-right">
      {{t 'alertPage.newOrEdit.sendA'}}
    </div>
    <div class="col span-10">
      <label class="acc-label mr-10">{{radio-button selection=condiction.severity value="critical"}} {{t 'alertPage.newOrEdit.critical'}}</label>
      <label class="acc-label mr-10">{{radio-button selection=condiction.severity value="warning"}} {{t 'alertPage.newOrEdit.warning'}}</label>
      <label class="acc-label mr-10">{{radio-button selection=condiction.severity value="info"}} {{t 'alertPage.newOrEdit.info'}}</label>
    </div>
  </section>
</div>
