<section class="header clearfix">
  <div class="pull-left pt-10"><h1>Event</h1></div>
  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "configreSubscriber"}}>Configre Subscriber</button>
  </div>
</section>
<section class="box mb-20">
  <div class="row">
    <div class="col span-3">
      {{searchable-select
        class="form-control"
        content=namespaceContent
        value=namespaceId
      }}
    </div>
    <div class="col span-2">
      {{searchable-select
        class="form-control"
        content=eventLogContent
        value=resourceKind
      }}
    </div>
    <div class="col span-3">
      {{searchable-select
        class="form-control"
        content=resourceNameContent
        value=resourceName
        allowCustom=true
      }}
    </div>
    <div class="col span-2">
      {{searchable-select
        class="form-control"
        content=eventLevelContent
        value=eventType
      }}
    </div>
    <div class="col span-2">
      {{searchable-select
        class="form-control"
        content=eventTimeContent
        value=eventTime
      }}
    </div>
    {{!-- <div class="col span-1">
      <div class="pull-right">
        <button class="btn bg-primary" {{action 'search'}}>Search</button>
      </div>
    </div> --}}
  </div>
</section>

{{#sortable-table
  tableClassNames="bordered"
  paging=true
  pagingLabel="pagination.volume"
  headers=headers
  bulkActions=false
  rowActions=false
  body=rows
  sortBy="name"
  search=false
  showHeader=false
  customer="event"
  descending=true
  as |sortable kind obj dt|
}}
  {{#if (eq kind "row")}}
    {{event/event-row
      model=obj
      toggle=(action "toggleExpand" obj.id)
      expanded=(array-includes expandedLogs obj.id)
      searchText=searchText
      subMatches=sortable.subMatches
      fullColspan=sortable.fullColspan
      dt=dt
    }}
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'persistentVolumePage.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">No data</td></tr>
  {{/if}}
{{/sortable-table}}

<section class="header clearfix">
  <div class="text-center">
    <button class="btn btn-sm bg-primary" {{action "loadMore"}}>Load More</button>
  </div>
</section>
