<section class="header clearfix">
  <h1 class="pull-left text-capitalize">{{t 'monitorPage.header'}}</h1>
</section>

<section>
  <div class="row">
    <div class="col span-6 pt-0">
      <label class="acc-label">{{t 'monitorPage.retention.label'}}</label>
      {{input
          type="text"
          value=model.monitoring.retention
          classNames="form-control"
          placeholder=(t 'monitorPage.retention.placeholder')
      }}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'monitorPage.metricsServerEnabled.label'}}</label>
      <div class="radio">
        <label>
          {{radio-button selection=model.monitoring.metricsServerEnabled value=true}}
          {{t 'generic.enabled'}}
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button selection=model.monitoring.metricsServerEnabled value=false}}
          {{t 'generic.disabled'}}
        </label>
      </div>
    </div>
  </div>
</section>

{{#advanced-section advanced=false}}
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
        title=(t 'monitorPage.pvcConfig.title')
        detail=(t 'monitorPage.pvcConfig.detail')
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6 pt-0">
          <label class="acc-label" for="">{{t 'monitorPage.pvcConfig.storageClassName.label'}}</label>
          {{input
              type="text"
              value=model.monitoring.pvcConfig.storageClassName
              classNames="form-control"
              placeholder=(t 'monitorPage.pvcConfig.storageClassName.placeholder')
          }}
        </div>
        <div class="col span-6 pt-0">
          <label class="acc-label">{{t 'monitorPage.pvcConfig.volumeName.label'}}</label>
          {{input
              type="text"
              value=model.monitoring.pvcConfig.volumeName
              classNames="form-control"
              placeholder=(t 'monitorPage.pvcConfig.volumeName.placeholder')
          }}
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          {{form-access-modes
            model=model.monitoring.pvcConfig
            mode=mode
          }}
        </div>
      </div>
    {{/accordion-list-item}}
  {{/accordion-list}}
{{/advanced-section}}


{{#if editing}}
  <section class="box mt-30">
    {{#if disabling}}
      <button class="btn bg-disabled" disabled="disabled">
        <i class="icon icon-spinner icon-spin"></i> Waiting to disabled
      </button>
    {{else}}
      <button class="btn bg-error" {{action "disable"}}>
        Disable Monitor
      </button>
    {{/if}}
  </section>
{{/if}}

{{top-errors errors=errors}}

{{save-cancel createLabel="generic.enable"
              save="save"
              cancel="cancel"
              cancelDisabled=true
              editing=editing
              saved=saved
}}
