<section>
  {{#if (eq step 1)}}
    <i class="icon icon-spinner icon-spin"></i> {{t 'k8sPage.configFile.generating'}}
  {{/if}}
  {{#if (eq step 2)}}
    {{code-block language="yaml" code=kubeconfig collapsed=collapsed}}
    {{#if collapsed}}
      <div class="hand no-select poi text-center pb-5"><span {{action "togglePreview"}}>Click to expand inline <i class="icon {{if collapsed 'icon-chevron-down' 'icon-chevron-up'}}"></i></span></div>
    {{/if}}
    {{copy-to-clipboard tooltipText="" buttonText="copyToClipboard.tooltip" clipboardText=kubeconfig class="with-clip"}}
    Or 
    <span {{action "download"}} class="btn">Download</span>
    <div class="mt-10 mb-0">
      {{t 'k8sPage.configFile.usage.downloadText' downloadUrl=downloadUrl htmlSafe=true}}
    </div>
    <p class="text-info text-small">{{t 'k8sPage.configFile.helpText'}}</p>
  {{/if}}
</section>
<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary close-kubeconfig">{{t 'generic.closeModal'}}</button>
</div>
