<tr class="main-row">
  <td>
    {{#if canExpand}}<i role="button" {{action "toggle"}} class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"><span class="visually-hidden">Open accordion</span></i>{{/if}}
  </td>
  <td data-title="{{dt.name}}">
    {{date-str model.created}}
  </td>
  <td data-title="{{dt.actions}}">
    {{model.namespaceId}}
  </td>
  <td data-title="{{dt.source}}">
    {{model.resourceKind}}
  </td>
  <td data-title="{{dt.actions}}">
    {{model.eventType}}
  </td>
  <td data-title="{{dt.actions}}">
    {{model.reason}}
  </td>
  <td data-title="{{dt.actions}}">
    {{model.message}}
  </td>
</tr>

{{#if canExpand}}
  <tr class="sub-row {{unless expanded 'hide'}}">
    <td>{{! checkbox and expand}}</td>
    <td colspan="{{sub fullColspan 1}}">
      {{#if expanded}}
        {{code-block code=logString}}
      {{/if}}
    </td>
  </tr>

  {{#if expanded}}
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{/if}}
{{/if}}
