<section class="header clearfix">
  <div class="pull-left">
    {{#if readOnly}}
      <h1>Business: {{business.name}}</h1>
    {{else}}
      {{#if editing}}
        <h1>{{t 'businessPage.new.editTitle'}}</h1>
      {{else}}
        <h1>{{t 'businessPage.new.title'}}</h1>
      {{/if}}
    {{/if}}
  </div>
  {{#if readOnly}}
    <div class="pull-right">
      <button {{action "addCluster"}} class="btn bg-primary">Add Cluster</button>
    </div>
  {{/if}}
</section>

{{form-name-description model=model.business
                        nameRequired=true
                        editing=(not readOnly)
                        customer="huawei"
}}
<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'businessPage.new.nodeCount.label'}}</label>
    {{#if readOnly}}
      <div>{{business.nodeCount}}</div>
    {{else}}
      {{input-number classNames="form-control" value=business.nodeCount disabled=readOnly min=0}}
    {{/if}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'businessPage.new.userId.label'}}</label>
    {{#if readOnly}}
      <div>{{business.nodeCount}}</div>
    {{else}}
      {{searchable-select
        class="form-control"
        content=userContent
        value=business.userId
      }}
    {{/if}}
  </div>
</div>

{{top-errors errors=errors}}

{{#unless readOnly}}
  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/unless}}

{{#if readOnly}}
<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.cancel'}}</button>
</div>
{{/if}}
