<section class="header clearfix">
  <h1 class="pull-left text-capitalize">{{t 'monitorPage.header'}}</h1>
</section>

<section>
  <div class="row">
    <div class="col span-6 pt-0">
      <label class="acc-label">{{t 'monitorPage.retention.label'}}</label>
      {{input
          type="text"
          value=model.retention
          classNames="form-control"
          placeholder=(t 'monitorPage.retention.placeholder')
      }}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'monitorPage.metricsServerEnabled.label'}}</label>
      <div class="radio">
        <label>
          {{radio-button selection=model.metricsServerEnabled value=true}}
          {{t 'generic.enabled'}}
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button selection=model.metricsServerEnabled value=false}}
          {{t 'generic.disabled'}}
        </label>
      </div>
    </div>
  </div>
</section>

{{#advanced-section advanced=false}}
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
        title=(t 'monitorPage.pvcConfig.title')
        detail=(t 'monitorPage.pvcConfig.detail')
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
    }}
      {{!-- <div class="row">
        <div class="col span-6">
          <label class="acc-label">{{t 'cruPersistentVolumeClaim.source.label'}}</label>
          <div class="radio">
            <label class="{{unless canUseStorageClass 'text-muted'}}">
              {{radio-button selection=useStorageClass value=true disabled=(not canUseStorageClass)}}
              {{t 'cruPersistentVolumeClaim.source.storageClass'}}
            </label>
          </div>
          <div class="radio">
            <label>
              {{radio-button selection=useStorageClass value=false}}
              {{t 'cruPersistentVolumeClaim.source.pv'}}
            </label>
          </div>
        </div>
        <div class="col span-6">
          {{#if useStorageClass}}
            <label class="acc-label">{{t 'cruPersistentVolumeClaim.storageClass.label'}}</label>
            {{new-select
              content=storageClasses
              prompt="cruPersistentVolumeClaim.storageClass.prompt"
              localizedPrompt=true
              optionLabelPath="displayName"
              optionValuePath="id"
              required=true
              value=model.pvcConfig.storageClassName
            }}

            <label class="acc-label mt-20">{{t 'cruPersistentVolumeClaim.capacity.label'}}{{field-required editing=editing}}</label>
            <div class="input-group">
              {{input-number classNames="form-control" value=capacity}}
              <span class="input-group-addon bg-default">{{t 'cruPersistentVolumeClaim.capacity.unit'}}</span>
            </div>
          {{else}}
            <label class="acc-label">{{t 'cruPersistentVolumeClaim.pv.label'}}</label>
            {{new-select
              content=persistentVolumeChoices
              prompt="cruPersistentVolumeClaim.pv.prompt"
              localizedPrompt=true
              required=true
              value=model.pvcConfig.volumeName
            }}
          {{/if}}
        </div>
      </div> --}}
      <div class="row">
        <div class="col span-6">
          {{form-access-modes
            model=model.pvcConfig
            mode=mode
          }}
        </div>
      </div>
    {{/accordion-list-item}}
  {{/accordion-list}}
{{/advanced-section}}


{{#if editing}}
  <section class="box mt-30">
    {{#if disabling}}
      <button class="btn bg-disabled" disabled="disabled">
        <i class="icon icon-spinner icon-spin"></i> Waiting to disabled
      </button>
    {{else}}
      <button class="btn bg-error" {{action "disable"}}>
        Disable Monitor
      </button>
    {{/if}}
  </section>
{{/if}}

{{top-errors errors=errors}}

{{save-cancel createLabel="generic.enable"
              save="save"
              cancel="cancel"
              cancelDisabled=true
              editing=editing
              saved=saved
}}
