<label class="acc-label">
  {{#if (not-eq question.type "object")}}
    {{or question.label question.variable}}
  {{/if}}
  {{#if question.required}}
    {{field-required}}
  {{/if}}
</label>

{{#if question.supported}}
  {{#if (eq question.inputComponent "schema/input-array")}}
    {{component
      question.inputComponent
      field=question
      initialValues=answer
      changed=(action (mut answer))
      namespaceId=namespaceId
    }}
  {{else if (eq question.inputComponent "schema/input-object")}}
    {{component
      question.inputComponent
      questions=question.fields
      parentQuestion=question
      namespaceId=namespaceId
    }}
  {{else}}
    {{component
      question.inputComponent
      field=question
      value=answer
      namespaceId=namespaceId
    }}
  {{/if}}
{{else}}
  {{input
    type="text"
    value=question.answer
    class="form-control"
  }}
  <p>{{t 'inputAnswers.unknownType'}} {{question.type}}</p>
{{/if}}

<p class="help-block">{{question.description}}</p>