<div class="box mb-10">
  <div class="row">
    {{#if (and editing (gt condictions.length 1))}}
      <div class="pull-right">
        {{#if (lte condictions.length 1 )}}
          <button class="btn btn-disabled-transparent text-small vertical-middle" disabled="true">
            {{t 'formIngress.removeRuleLabel'}}
          </button>
        {{else}}
          <button class="btn bg-transparent text-small vertical-middle" {{action "removeRule" condition}}>
            Remove this Condition
          </button>
        {{/if}}
      </div>
    {{else}}
      <!-- 28px is the height of the button, no jumpy -->
      <div style="height: 28px;"></div>
    {{/if}}
  </div>
  <section class="row">
    <div class="col span-1 text-right">
      <div class="pt-10">
        <label>{{t 'alertPage.newOrEdit.whenA'}}</label>
      </div>
    </div>

    <div class="col span-10">

      <div class="row">
        <div class="col span-2">
          <label class="acc-label">
            {{radio-button selection=model._targetType value="systemService"}} {{t 'alertPage.targetTypes.systemService'}}
          </label>
        </div>
        <div class="col span-9 mt-0">
          {{searchable-select
              content=systemServices
              class="form-control"
              value=model.systemServiceRule.condition
              placeholder=(t 'alertPage.newOrEdit.systemServicePlaceholder')
              readOnly=(not-eq model._targetType 'systemService')
          }}
        </div>
      </div>

      <div class="row">
        <div class="col span-2">
          <label class="acc-label">
            <span class="pr-10"> {{radio-button selection=model._targetType value="normalEvent"}} {{t 'alertPage.newOrEdit.normal'}} </span>
          </label>
          <label class="acc-label">
            {{radio-button selection=model._targetType value="warningEvent"}} {{t 'alertPage.newOrEdit.warning'}}
          </label>
        </div>
        <div class="col span-9 mt-0">
          {{searchable-select
              content=resourceKinds
              class="form-control"
              value=model.eventRule.resourceKind
              placeholder=(t 'alertPage.newOrEdit.resourcePlaceholder')
              readOnly=(not-eq isEventTarget true)
          }}
        </div>
        <div class="col span-1 text-right"> {{t 'alertPage.targetTypes.event'}} </div>
      </div>

      <div class="row">
        <div class="col span-2">
          <label class="acc-label">
            {{radio-button selection=model._targetType value="node"}} {{t 'alertPage.targetTypes.node'}}
          </label>
        </div>
        <div class="col span-9 mt-0">
          {{searchable-select
              content=nodes
              class="form-control"
              value=model.nodeRule.nodeId
              optionValuePath="id"
              optionLabelPath="displayName"
              placeholder=(t 'alertPage.newOrEdit.nodePlaceholder')
              readOnly=(not-eq model._targetType 'node')
          }}
        </div>
      </div>
      <div class="row">
        <div class="col span-2">
          <label class="acc-label">
            {{radio-button selection=model._targetType value="nodeSelector"}} {{t 'alertPage.targetTypes.nodeSelector'}}
          </label>
        </div>
        <div class="col span-9 mt-0">
          {{#if (eq model._targetType 'nodeSelector')}}
            {{form-key-value
                addActionLabel="alertPage.addSelectorLabel"
                initialMap=model.nodeRule.selector
                changed=(action (mut model.nodeRule.selector))
            }}
          {{else}}
            <button {{action "noop"}} style="cursor:not-allowed;" class="btn bg-disabled icon-btn">
              <span class="darken"><i class="icon icon-plus text-small"/></span>
              <span>{{t 'alertPage.addSelectorLabel'}}</span>
            </button>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col span-2">
          <label class="acc-label" style={{unless monitoringEnabled 'color: #bfbfbf;'}}>
            {{radio-button selection=model._targetType value="expression" disabled=(not monitoringEnabled)}} Expression
          </label>
        </div>
        <div class="col span-9 mt-0">
          {{searchable-select
              content=metricsContent
              class="form-control"
              value=condition.expression
              readOnly=(or (not-eq model._targetType 'expression') graphLoading)
              placeholder="Select a metric"
          }}
        </div>
      </div>
    </div>
  </section>
  <hr/>
  <section class="row">
    <div class="col span-1 text-right">
      <div style={{verbStyles}}>{{if isEventTarget (t 'alertPage.newOrEdit.happens') (t 'alertPage.newOrEdit.is')}}</div>
    </div>
    {{#if (eq model._targetType 'expression')}}
      <div class="row">
        <div class="col span-2 mt-0">
          {{searchable-select
              content=operatorContent
              class="form-control"
              value=condition.operator
              readOnly=(not-eq model._targetType 'expression')
          }}
        </div>
        <div class="col span-2 mt-0">
          {{input-integer class="form-control"
                          value=condition.threshold
                          readOnly=(not-eq model._targetType 'expression')
                          placeholder="e.g. 10"
                          min=0
          }}
        </div>
        <div class="col span-1 text-right">
          <div style={{verbStyles}}>For</div>
        </div>
        <div class="col span-4 mt-0">
          {{searchable-select
              content=durationContent
              class="form-control"
              value=condition.duration
              readOnly=(not-eq model._targetType 'expression')
          }}
        </div>
      </div>
      <hr/>
      <div class="row">
        {{!-- {{echart-chart option=condition.chartOption}} --}}
        {{!-- <h2 class="text-left">{{condition.expression}}</h2> --}}
        {{echart-chart
          series=condition.chartOption.series
          loading=graphLoading
          threshold=condition.threshold
        }}
      </div>
    {{else}}
      <div class="col span-10">
      {{#if (eq model._targetType 'systemService')}}
        <label class="acc-label">
          {{radio-button selection="whatever" value="whatever"}} {{t 'alertPage.newOrEdit.unhealthy'}}
        </label>
      {{else if (or (eq model._targetType 'node') (eq model._targetType 'nodeSelector'))}}
        <label class="acc-label pr-20">
          {{radio-button selection=model.nodeRule.condition value="notready"}} {{t 'alertPage.newOrEdit.notReady'}}
        </label>
        <label class="acc-label pr-10">
          {{radio-button selection=model.nodeRule.condition value="cpu"}} {{t 'alertPage.newOrEdit.cpuUsage'}}
        </label>
        <div style="display:inline-block;width:60px;">
          {{input-integer
              classNames="form-contorl input-sm"
              disabled=(not-eq model.nodeRule.condition 'cpu')
              min=1
              value=model.nodeRule.cpuThreshold
          }}
        </div>%

        <label class="ml-20 acc-label pr-20">
          {{radio-button selection=model.nodeRule.condition value="mem"}} {{t 'alertPage.newOrEdit.memUsage'}}
        </label>
        <div style="display:inline-block;width:60px;">
          {{input-integer
              classNames="form-contorl input-sm"
              disabled=(not-eq model.nodeRule.condition 'mem')
              min=1
              max=100
              value=model.nodeRule.memThreshold
          }}
        </div>%
      {{else}}
      {{/if}}
      </div>
    {{/if}}
  </section>

  <section class="row">
    <div class="col span-1 text-right">
      {{t 'alertPage.newOrEdit.sendA'}}
    </div>
    <div class="col span-10">
      <label class="acc-label mr-10">{{radio-button selection=model.severity value="critical"}} {{t 'alertPage.newOrEdit.critical'}}</label>
      <label class="acc-label mr-10">{{radio-button selection=model.severity value="warning"}} {{t 'alertPage.newOrEdit.warning'}}</label>
      <label class="acc-label mr-10">{{radio-button selection=model.severity value="info"}} {{t 'alertPage.newOrEdit.info'}}</label>
    </div>
  </section>
</div>
