<section class="header clearfix">
  <h1 class="pull-left text-capitalize">{{t 'monitorPage.header'}}</h1>
</section>

<div class="row">
  <div class="col span-6">
    <h2>PVC</h2>
    {{#if pvcEnable}}
      <div class="btn-group no-inline-space">
        <button class="btn btn-link btn-sm bg-default" {{action "disablePVC"}} disabled={{editing}}>
          {{t 'generic.disable'}}</button>
        <button class="btn btn-link btn-sm bg-success">{{t 'generic.enabled'}}</button>
      </div>
    {{else}}
      <div class="btn-group no-inline-space">
        <button class="btn btn-link btn-sm bg-primary">{{t 'generic.disabled'}}</button>
        <button class="btn btn-link btn-sm bg-defualt" {{action "enablePVC"}} disabled={{editing}}>
         {{t 'generic.enable'}}</button>
      </div>
    {{/if}}
  </div>
</div>

{{#if pvcEnable}}
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
        title=(t 'monitorPage.pvcConfig.title')
        detail=(t 'monitorPage.pvcConfig.detail')
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">{{t 'cruPersistentVolumeClaim.source.label'}}</label>
          <div class="radio">
            <label class="{{unless canUseStorageClass 'text-muted'}}">
              {{radio-button selection=useStorageClass value=true disabled=editing}}
              {{t 'cruPersistentVolumeClaim.source.storageClass'}}
            </label>
          </div>
          <div class="radio">
            <label>
              {{radio-button selection=useStorageClass value=false disabled=editing}}
              {{t 'cruPersistentVolumeClaim.source.pv'}}
            </label>
          </div>
        </div>
        <div class="col span-6">
          {{#if useStorageClass}}
            <label class="acc-label">{{t 'cruPersistentVolumeClaim.storageClass.label'}}</label>
            {{new-select
              content=storageClasses
              prompt="cruPersistentVolumeClaim.storageClass.prompt"
              localizedPrompt=true
              optionLabelPath="displayName"
              optionValuePath="id"
              required=true
              value=model.pvcConfig.storageClassName
              disabled=editing
            }}
          {{else}}
            <label class="acc-label">{{t 'cruPersistentVolumeClaim.pv.label'}}</label>
            {{new-select
              content=persistentVolumeChoices
              prompt="cruPersistentVolumeClaim.pv.prompt"
              localizedPrompt=true
              required=true
              value=model.pvcConfig.volumeName
              disabled=editing
            }}
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          {{form-access-modes
            model=model.pvcConfig
            mode=mode
            disabled=editing
          }}
        </div>
      </div>
    {{/accordion-list-item}}
  {{/accordion-list}}
{{/if}}

{{#advanced-section advanced=false}}
  <section>
    <div class="row">
      <div class="col span-6 pt-0">
        <label class="acc-label">{{t 'monitorPage.retention.label'}}</label>
        {{input
            type="text"
            value=model.retention
            classNames="form-control"
            placeholder=(t 'monitorPage.retention.placeholder')
        }}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'monitorPage.metricsServerEnabled.label'}}</label>
        <div class="radio">
          <label>
            {{radio-button selection=model.metricsServerEnabled value=true}}
            {{t 'generic.enabled'}}
          </label>
        </div>
        <div class="radio">
          <label>
            {{radio-button selection=model.metricsServerEnabled value=false}}
            {{t 'generic.disabled'}}
          </label>
        </div>
      </div>
    </div>
  </section>
{{/advanced-section}}

{{top-errors errors=errors}}

{{save-cancel createLabel="generic.enable"
              cancelLabel="generic.disable"
              cancelDisabled=(not editing)
              save="save"
              cancel="disable"
              editing=editing
              saved=saved
              cancelColor="bg-error"
}}
