<div class="row">
  <label>Condition</label>
  {{!-- <div class="col-inline checkbox pull-right text-small">
    <label>{{input type="checkbox" checked=advancedMode}} Advanced Mode</label>
  </div> --}}
</div>
<hr/>

{{#unless monitoringEnabled}}
  <div class="banner bg-info">
    <div class="banner-icon p-10"><i class="icon icon-alert"></i></div>
    <div class="banner-message">
      Expression is disabled, Go and <a style="cursor: pointer; color: #268bcf;" onClick={{action 'enbaleMonitoring'}}>enable monitoring</a>.
    </div>
  </div>
{{/unless}}

<div class="mb-10 pt-5">
  {{#each alertRules key="id" as |alertRule|}}
    {{alert/form-project-rule-row
        removeRule=(action 'removeRule')
        condition=alertRule
        alertRules=alertRules
        editing=editing
        pageScope=pageScope
        isCreate=isCreate
        model=alertRule
        monitoringEnabled=monitoringEnabled
        metrics=metrics
    }}
  {{else}}
    <div class="p-20">{{t 'formIngress.noRules'}}</div>
  {{/each}}
</div>

<div class="row">
  <button class="btn bg-link icon-btn inline-block pull-right" {{action "addRule"}}>
    <span class="darken"><i class="icon icon-plus text-small"></i></span>
    <span>Add Alert</span>
  </button>
</div>
