{{#if model.owner}}
  {{#if model.app}}
    {{istio-nav}}
    {{#accordion-list showExpandAll=false  as |al expandFn|}}
      {{#accordion-list-item
          expand=(action expandFn)
          expandAll=al.expandAll
          expandOnInit=true
          expanded=true
          title=(t "istio.serviceGraph.title")
          detail=(t "istio.serviceGraph.detail")
          showExpand=false
      }}
        {{traffic-monitoring}}
      {{/accordion-list-item}}
    {{/accordion-list}}
  {{else}}
    {{#banner-message color="bg-info"}}
      <p>
        {{t "projectIstioPage.info.noApp"}}{{#link-to-external "authenticated.cluster.istio.cluster-setting" model.cluster.id}} {{t "projectIstioPage.info.enable"}}{{/link-to-external}}
      </p>
    {{/banner-message}}
  {{/if}}
{{else}}
  {{#banner-message color="bg-info"}}
    <p>
      {{t "projectIstioPage.info.notOwner"}}
    </p>
  {{/banner-message}}
{{/if}}