<div class="clearfix {{unless editing 'box'}}">
  <label class="{{if editing 'acc-label'}}">{{t 'formPorts.header'}}</label>
  {{#if ports.length}}
    {{#each ports as |port|}}
      <div class="row">
        <div class="col span-3">
          <label class="acc-label">{{t 'formPorts.containerPort.label'}}{{#if editing}}{{field-required}}{{/if}}</label>
          {{#if editing}}
            {{input-integer class="form-control input-sm public" min="1" max="65535" value=port.containerPort placeholder=(t 'formPorts.containerPort.placeholder')}}
          {{else}}
            <div>{{port.containerPort}}</div>
          {{/if}}
        </div>
        <div class="col span-1">
          <label class="acc-label">{{t 'formPorts.protocol.label'}}</label>
          {{#if editing}}
            {{new-select
                class="form-control input-sm"
                content=protocolOptions
                value=port.protocol
            }}
          {{else}}
            <div>{{port.protocol}}</div>
          {{/if}}
        </div>
        <div class="col span-3">
          <label class="acc-label">{{t 'formPorts.kind.label'}}</label>
          {{#if editing}}
            {{new-select
              classNames="form-control"
              optionValuePath="value"
              optionLabelPath="translationKey"
              localizedLabel=true
              content=kindChoices
              value=port.kind
            }}
          {{else}}
            {{#if port.kind}}
              <div>{{port.kind}}</div>
            {{else}}
              <span class="text-muted">{{t 'generic.na'}}</span>
            {{/if}}
          {{/if}}
        </div>
        {{#if (eq port.kind "LoadBalancer")}}
          <div class="col span-2">
            <label class="acc-label">{{t 'formPorts.elbType.label'}}</label>
            {{#if editing}}
              {{searchable-select
                class="form-control"
                content=elbTypeContent
                value=port.elbType
                localizedLabel=true
              }}
            {{else}}
            <div>{{t (concat 'formPorts.elbType.content.' port.elbType)}}</div>
            {{/if}}
          </div>
        {{/if}}

        <div class="col {{if (eq port.kind "LoadBalancer") 'span-2' 'span-4'}}">
          <label class="acc-label">{{t 'formPorts.sourcePort.label'}}{{#if editing}}{{field-required}}{{/if}}</label>
          {{#if (or (eq port.kind "ClusterIP") (eq port.kind "NodePort"))}}
            {{#if editing}}
              {{input-random-port min="1" max="65535" value=port.sourcePort placeholder="formPorts.nodePort.placeholder" standardKey=(if (eq port.kind "ClusterIP") "formPorts.sourcePort.clusterIpDefault" "generic.random")}}
            {{else if port.sourcePort}}
              {{port.sourcePort}}
            {{else}}
              {{t (if (eq port.kind "ClusterIP") 'formPorts.sourcePort.clusterIpDefault' 'generic.random')}}
            {{/if}}
          {{else if (or (eq port.kind "HostPort") (eq port.kind "LoadBalancer"))}}
            <div class="row">
              {{#if editing}}
                {{input class="form-control input-sm" type="text" value=port._ipPort placeholder=(t (if (eq port.kind "HostPort") 'formPorts.sourcePort.ipPlaceholder' 'formPorts.sourcePort.l4Placeholder'))}}
              {{else if (eq port.kind "LoadBalancer")}}
                <div>{{port._ipPort}}</div>
              {{else if port.hostIp}}
                <div>{{port.hostIp}}:{{port.sourcePort}}</div>
              {{else}}
                <div>{{port.sourcePort}}</div>
              {{/if}}
            </div>
          {{else}}
            {{#if editing}}
              {{input-integer class="form-control input-sm" min="1" max="65535" value=port.sourcePort placeholder=(t 'formPorts.sourcePort.placeholder')}}
            {{else}}
              <div>{{port.sourcePort}}</div>      
            {{/if}}
          {{/if}}
        </div>
        <div class="col span-1">
          {{#if editing}}
            <button class="btn bg-primary btn-sm pull-right" {{action "removePort" port}} style="margin-top:28px;">
              <i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span>
            </button>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    {{#unless editing}}
      <span class="text-center text-muted">{{t 'formPorts.noPorts'}}</span>
    {{/unless}}
  {{/if}}
</div>

<div>
  {{#if editing}}
    <button class="btn bg-link icon-btn p-0" {{action "addPort"}}>
      <span class="darken"><i class="icon icon-plus text-small"/></span>
      <span>{{t 'formPorts.addAction'}}</span>
    </button>
  {{/if}}
</div>
